html {
  font-family: Helvetica, sans-serif;
}

.header {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.item-header {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#item-header-1 {
  background-color: mediumspringgreen;
}

#item-header-2 {
  background-color: lightcoral;
}

#item-header-3 {
  background-color: skyblue;
}

.item-price {
  font-weight: bold;
  color: blue;
}
